@using BirdsiteLive.Domain.Repository
@model BirdsiteLive.Controllers.ModerationStatus
@{
    ViewData["Title"] = "Blacklisting";
}

<div class="col-12 col-sm-10 col-md-8 col-lg-6 mx-auto">
    <h2>Blacklisting</h2>

    @if (Model.Followers == ModerationTypeEnum.BlackListing)
    {
        <p><br />This node is blacklisting some instances and/or Fediverse users.<br /><br /></p>
    }

    @if (Model.TwitterAccounts == ModerationTypeEnum.BlackListing)
    {
        <p><br />This node is blacklisting some twitter users.<br /><br /></p>
    }

    @if (Model.Followers != ModerationTypeEnum.BlackListing && Model.TwitterAccounts != ModerationTypeEnum.BlackListing)
    {
        <p><br />This node is not using blacklisting.<br /><br /></p>
    }

    <h2>FAQ</h2>
    <p>TODO</p>
</div>