@model BirdsiteLive.Models.StatisticsModels.Statistics

@{
    ViewBag.Title = "Statistics";
}

<h2>Statistics</h2>

<ul>
    <li>Twitter Users: @Model.TwitterUserCount</li>
    <li>Followers: @Model.FollowersCount</li>
</ul>