@using BirdsiteLive.Controllers;
@{
    ViewData["Title"] = "Api Saturated";
}

<div class="text-center">
    <h1 class="display-4">429 Too Many Requests</h1>
    <p>
        <br />
        The API is saturated.<br/>
        Please consider using another instance.
    </p>
</div>