@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

<div>
    <a href="#" class="badge badge-light" title="What does this mean?">Whitelisting Enabled</a>
    <a href="#" class="badge badge-light" title="What does this mean?">Blacklisting Enabled</a>

    <div class="node-progress-bar">
        <div class="node-progress-bar__label">Instance saturation: </div>
        <div class="progress node-progress-bar__bar"> 
            <div class="progress-bar" style="width: 15%">15%</div>
        </div>
    </div>
</div>
