@using BirdsiteLive.Controllers;
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>


    @if (HtmlHelperExtensions.IsDebug())
    {
        <a class="nav-link text-dark" asp-area="" asp-controller="Debug" asp-action="Index">Debug</a>
    }
</div>
