
@{
    ViewData["Title"] = "Index";
}

<h1>Debug</h1>

<form asp-controller="Debug" asp-action="Follow" method="post">
    <!-- Input and Submit elements -->

    <button type="submit" value="Submit">Follow</button>
</form>


<form asp-controller="Debug" asp-action="PostNote" method="post">
    <!-- Input and Submit elements -->

    <button type="submit" value="Submit">Post Note</button>
</form>