
@{
    ViewData["Title"] = "Index";
}

<h1>Debug</h1>

<form asp-controller="Debuging" asp-action="Follow" method="post">
    <!-- Input and Submit elements -->

    <button type="submit" value="Submit">Follow</button>
</form>


<form asp-controller="Debuging" asp-action="PostNote" method="post">
    <!-- Input and Submit elements -->

    <button type="submit" value="Submit">Post Note</button>
</form>


<form asp-controller="Debuging" asp-action="PostRejectFollow" method="post">
    <!-- Input and Submit elements -->

    <button type="submit" value="Submit">Reject Follow</button>
</form>

<form asp-controller="Debuging" asp-action="PostDeleteUser" method="post">
    <!-- Input and Submit elements -->

    <button type="submit" value="Submit">Delete User</button>
</form>