@model BirdsiteLive.Twitter.Models.TwitterUser
@{
    ViewData["Title"] = "User";
}

<div class="profile" style="background-image: url('@ViewData.Model.ProfileBannerURL');">
    <div class="sub-profile">
        <img class="avatar" src="@ViewData.Model.ProfileImageUrl" />

        <h1>@ViewData.Model.Name</h1>
        <h2>@@@ViewData.Model.Acct</h2>


        <div class="description">
            @ViewData.Model.Description
        </div>
    </div>
</div>
