@model BirdsiteLive.Controllers.MigrationData
@{
    ViewData["Title"] = "Migration";
}

<div class="col-12 col-sm-10 col-md-8 col-lg-6 mx-auto">
    @if (!string.IsNullOrWhiteSpace(ViewData.Model.ErrorMessage))
    {
        <div class="alert alert-danger" role="alert">
            @ViewData.Model.ErrorMessage
        </div>
    }
    
    @if (ViewData.Model.MigrationSuccess)
    {
        <div class="alert alert-success" role="alert">
            The mirror has been successfully deleted
        </div>
    }

    <h1 class="display-4 migration__title">Delete @@@ViewData.Model.Acct mirror</h1>

    @if (!ViewData.Model.IsTweetProvided)
    {
        <h2 class="display-4 migration__subtitle">What is needed?</h2>

        <p>You'll need access to the Twitter account to provide proof of ownership.</p>

        <h2 class="display-4 migration__subtitle">What will deletion do?</h2>

        <p>
            Deletion will remove all followers, delete the account and will be blacklisted so that it can't be recreated.<br />
        </p>
    }

    <h2 class="display-4 migration__subtitle">Start the deletion!</h2>

    <p>Please copy and post this string in a public Tweet (the string must be untampered, but you can write anything you want before or after it):</p>

    <input type="text" name="textbox" value="@ViewData.Model.MigrationCode" onclick="this.select()" class="form-control" readonly />
    <br />

    <h2 class="display-4 migration__subtitle">Provide deletion information:</h2>
    <form method="POST">
        <div class="form-group">
            <label for="tweetid">Tweet URL</label>
            <input type="text" class="form-control" id="tweetid" name="tweetid" autocomplete="off" placeholder="https://twitter.com/<username>/status/<tweet id>" value="@ViewData.Model.TweetId">
        </div>
        <button type="submit" class="btn btn-primary">Delete!</button>
    </form>
</div>